{#------------------- header logged ------------------------#}

{% block body %}
<div class="header-container">
        <div class="header-logo">
            <a href="{{ url('home') }}">
                logo here
            </a>
        </div>
        <div class="header-nav">
            <ul class="flex justify-between items-center">
                <li class="header-link" ><a href="{{ url('home') }}">compte</a></li>
            </ul>
        </div>
</div>


{% endblock body %}