{% extends 'base.html.twig' %}

{% block body %}

{% include '/header/header-logged.html.twig' %}

    <div class="m-5 container-add-ingredient">
        <h1>Ajouter un ingrédient:</h1>

        <form method="post" action="{{ path('ingredient_add') }}" enctype="multipart/form-data">
            
            <div class="form-ingredient">

                <button class="delete-button">🗑️</button>

                <div class="form-ingredient-left">
                    <div class="form-group">
                        <label for="name-ingredient-1">Nom</label>
                        <input type="text" id="name-ingredient-1" name="name-ingredient-1" class="form-control" required>
                    </div>

                    <div class="form-group checkbox-nom-pluriel">
                        <label for="nom-pluriel">Nom au pluriel ?</label>
                        <br>
                        <div class="reponse">
                            <div>
                            <input type="radio" id="oui" name="choice-1" value="oui">
                            <label for="oui">Oui</label><br>
                            </div>
                            <div>
                            <input type="radio" id="non" name="choice-1" value="non" checked>
                            <label for="non">Non</label><br>
                        </div>
                        </div>
                    </div>

                    <div class="form-group nom-pluriel-1">
                        <label for="name-pluriel-1">Nom au pluriel</label>
                        <input type="text" id="name-pluriel-1" name="name-pluriel-1" class="form-control">
                    </div>
                </div>

                <div class="form-ingredient-right">
                    <div class="form-group">
                        <label for="image-1">Image (max 2MB)</label>
                        <input type="file" id="image-1" name="image-1" class="form-control" t="image/jpeg, image/png, image/webp">
                    </div>
                </div>

                
            </div>

            <button class="add-more-button">+ Ingrédient supplémentaire</button>

            <br>    

            <div class="container-sauvegarder">
            <button type="submit" class="btn btn-primary sauvegarder">Sauvegarder</button>
        </div>
        </form>
    </div>

    
{% endblock %}