@import './font.css';
@import './list-grid.css';
@import './ingredients-list.css';
@import './ajouter-ingredient.css';
@import './compte.css';
@import './recherche-par-ingredients.css';
@import './ajouter-recette.css';
@import './header.css';
@import './ingredient-show.css';
@import './ingredient-edit.css';
@import './recipe-show.css';

.font-uber-bold {
    font-family: 'uber_movebold';
}

.font-uber-medium {
    font-family: 'uber_movemedium';
}






.titre-recette-container{
    font-family: 'uber_movebold';
    font-size: 2em;
}