
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    background-color: rgb(246 116 93);
}

.header-logo{
    background-color: #b4b4b4d9;
    margin-left: 20px;

    height: 70%;
    width: 200px;
    overflow: hidden;
}
.header-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2px 5px;
    margin-right: 10px ;
    /* border: 1px solid #a43434d9; */
}

.header-link{
    font-family: 'uber_movebold';
    color: white;

    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.16);
    border: 2px solid transparent;
    border-radius: 10px;
}
.header-link:hover{
    background-color: rgba(255, 255, 255, 0.234);
    border: 2px solid white;
}


.links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width: 500px; */
    width: 60vw;
}

.links-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ing-link{
    margin-left: 20px;
}


.links-right{
    display: flex;
}

.links-right .header-link{
    margin-right: 10px;
}