.list-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cinq colonnes de largeur égale */
    gap: 20px; /* Espacement entre les éléments */

    margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
    .list-grid {
        grid-template-columns: repeat(3, 1fr); /* Trois colonnes sur iPad */
    }
}

@media only screen and (max-width: 600px) {
    .list-grid {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes sur téléphone */
    }
}


/* bouton ajouter */
.titre-recette-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.bouton-add-recette{
    padding: 10px 15px;
    background-color: #f6745d;;
    color: white;

    font-size: 17px;
    font-family: 'uber_movemedium';

    border-radius: 10px;
}
.bouton-add-recette:hover{
    text-decoration: underline;
}

.list-card-recipe-container{
    width: 250px;
    height: 350px;
    position: relative;

    border-radius: 15px;
}
.list-card-bottom-container{
    background-color: #f6f6f6;
    border-radius: 15px;
}


/* favoris */
.list-card-favorite{
    position: absolute;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    top: -20px;
    right: -20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 50%;

    z-index: 10;

    font-size: 20px;
}

.list-card-image{
    width: 100%;
    height: 200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow: hidden;

    border-radius: 15px;

}

.recipe-image{
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    object-fit: cover;

    border-radius: 15px;
}




.list-card-name{
    margin-top: 5px;
    width: 100%;
    font-size: large;
    border-bottom: 1px solid black;
}
/* petit */

.list-card-name.little{
    border-bottom: none;
}

.list-card-text{
    height: 77px;
    margin-top: 5px;
    padding: 0px 10px;
    width: 100%;
    font-size: medium;

    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.list-card-infos-container{
    width: 100%;
    height: 35px;
    /* position: absolute; */
    bottom: 0;

    display: flex;
    justify-content: space-between;
    padding: 0px 10px;

    font-family: 'uber_movebold';
}

.list-card-common-ingr{
    width: 100%;
}

.list-card-common-ingr p {
    width: fit-content;
    font-family: 'uber_movebold';
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
}
/* hover */

.list-card-recipe-container:hover .list-card-image img{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}
.list-card-recipe-container:hover .list-card-bottom-container{
    background-color: #fdbcb0;
    transition: all 0.3s ease-in-out;
}

.list-card-recipe-container:hover .list-card-common-ingr p{
    transform: translateY(10px);
    transition: all 0.3s;
}