{#------------------- Recipe Index ------------------------#}

{% extends "base.html.twig" %}

{# titre de la page #}
{% block title "Toutes nos recettes" %}

{% block body %}

    {% include '/header/header-logged.html.twig' %}

    <div class="m-5">
        <h1 class="titre-recette-container">
            {% if filters is not empty %}
                    Nos recettes (filtrées)
            {% else %}
                Toutes nos recettes
            {% endif %}

            <a href="{{ path('add_recipe') }}" class="bouton-add-recette">+ Ajouter une recette</a>
        </h1>

        {% include '/recipe/recipe-list.html.twig' with {'recipes': recipes, 'filters': filters} %}
    </div>



{% endblock body %}
